:root {
  font-size: 7px;
  z-index: 0;
  font-family: var(--font1);
  position: relative;

  /* COLORS */

  --dark: #101113;
  --dark4: #17191d;
  --dark3: #202226;
  --dark2: #27292e;
  --dark1: #36383f;
  --light3: #494b50;
  --light2: #82848e;
  --light1: #ced0dd;
  --white: #eef0ff;

  /* FONTS */
  --font1: 'Work Sans';
  --font2: 'Space Mono';

  /* BREAKPOINTS */
  --tabletBreakpoint: 901px;
  --smallLaptopBreakpoint: 1301px;
  --largeScreenBreakpoint: 1921px;

  /* TRANSITIONS */

  --transition: all 200ms ease-in-out;
}

/* body {
	height: 100vh;
} */

input {
  border: none;
  outline: none;
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
  background: none;
  user-select: none;
  color: inherit;
  font: inherit;
}
button:active {
  outline: none;
}
button:focus {
  outline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
